<h1> Hikes </h1>

{{!-- {{#each hikes}}
<p>{{this.name}}</p>
<p>{{this.description}}</p>
<br> {{/each}} --}}

<section>
    {{#each hikes}}
    <div>
        <div class "divider"></div>
        <div class="section">
            <h3>{{this.name}}</h3>
            <p>{{this.description}}</p>
        </div>
        <div>
            <a class="edit" href="/hikes/edit/{{id}}">
                <button>Edit</button>
            </a>
            <form class="delete" action="/hikes/{{this.id}}?_method=delete" method="post">
                <input type="submit" value="Remove"> {{!--
                <script> addEventListener('click', areYouSure)
                    function areYouSure() {
                        alert("Are you sure?")
                    }
                </script> --}}
            </form>

        </div>
    </div>
    {{/each}}
</section>


{{!--

<div class="divider"></div>
<div class="section">
    <h5></h5>
    <p>Stuff</p>
</div>
<div class="divider"></div>
<div class="section">
    <h5>Section 2</h5>
    <p>Stuff</p>
</div>
<div class="divider"></div>
<div class="section">
    <h5>Section 3</h5>
    <p>Stuff</p>
</div> --}}